---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import BeforeAfterDemo from "../components/BeforeAfterDemo.astro";
import Features from "../components/Features.astro";
import CompatibleApps from "../components/CompatibleApps.astro";
import TechHighlights from "../components/TechHighlights.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
import FAQ from "../components/FAQ.astro";
import DeveloperIntro from "../components/DeveloperIntro.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <HowItWorks />
    <BeforeAfterDemo />
    <Features />
    <CompatibleApps />
    <TechHighlights />
    <DownloadCTA />
    <FAQ />
    <DeveloperIntro />
  </main>
  <Footer />
</Layout>
